*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.1);
}
.common-section{
    width: 70%;
    margin:0 auto;
    padding: 40px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.menu-item ul{
    display: flex;
    
}
.menu-item ul li{
    list-style: none;
    margin: 0px 15px;
    text-transform: capitalize;
}
.menu-item ul li a{
    text-decoration: none;
    font-weight: 700;
    color: #131313;
}
.logo a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: #131313;
}
/* ==========hero-section=========== */
.hero-section{
    width: 70%;
    text-align: center;
    margin: 90px auto 30px auto;
}
.hero-section h1{
    font-size: 50px;
    margin: 20px 0;
}
.hero-section p{
    font-size: 15px;
    margin: 20px 0;
    color: #727272;
    line-height: 26px;
}
.btn{
    text-decoration: none;
    padding: 15px 20px;
    background: #FF900E;
    color: white;
    border-radius: 8px;
    margin: 10px 0;
    display: inline-block;
}
.banner{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
/* =========gallery-area=========== */
.gallery-area{
    display: flex;
    align-items: center;
    gap: 30px;
}
.gallery-area > div{
    flex: 1;
}
.img-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.img-section img{
    width: 100%;
    border-radius: 5px;
}
.contant-section{
    padding-left:30px ;
}
.contant-section h2{
   font-size: 40px;
   color: #131313;
}
.contant-section p{
    font-size: 15px;
    margin: 10px 0;
    color: #727272;
    line-height: 26px;
}

.gray-color{
    color: #727272;
    font-weight: 500;
}
.orange-color{
    color: #FF900E;

}

/* =============Mobile-Responsive========= */
@media screen and (max-width:576px){
    .common-section{
        width: 100%;
    }
    nav{
        flex-direction: column;
    }
    .menu-item ul li{
        margin: 10px;
    }
    .hero-section{
        width: 100%;
        margin: 10px auto;
    }
    .hero-section h1{
        font-size: 30px;  
    }
    .gallery-area{
        flex-direction: column;
    }
    .contant-section h2{
        font-size: 30px;
        
     }
}