*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
header{
    background: rgba(255, 144, 14, 0.1);
}
.common-section{
    width: 70%;
    margin:0 auto;
    padding: 40px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}
.menu-item ul{
    display: flex;
    
}
.menu-item ul li{
    list-style: none;
    margin: 0px 15px;
    text-transform: capitalize;
}
.menu-item ul li a{
    text-decoration: none;
    font-weight: 700;
    color: #131313;
}
.logo a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: #131313;
}
/* ==========hero-section=========== */
.hero-section{
    width: 70%;
    text-align: center;
    margin: 90px auto 30px auto;
}
.hero-section h1{
    font-size: 50px;
    margin: 20px 0;
}
.hero-section p{
    font-size: 15px;
    margin: 20px 0;
    color: #727272;
    line-height: 26px;
}
.btn{
    text-decoration: none;
    padding: 15px 20px;
    background: #FF900E;
    color: white;
    border-radius: 8px;
    margin: 10px 0;
    display: inline-block;
}
.banner{
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}
/* =========gallery-area=========== */
.gallery-area{
    display: flex;
    align-items: center;
    gap: 30px;
}
.gallery-area > div{
    flex: 1;
}
.img-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
}
.img-section img{
    width: 100%;
    border-radius: 5px;
}
.contant-section{
    padding-left:30px ;
}
.contant-section h2{
   font-size: 40px;
   color: #131313;
}
.contant-section p{
    font-size: 15px;
    margin: 10px 0;
    color: #727272;
    line-height: 26px;
}

.gray-color{
    color: #727272;
    font-weight: 500;
}
.orange-color{
    color: #FF900E;

}
/* ===========feature-area============= */
.feature-area{
    display: flex;
    gap: 40px;
}
.feature-img img{
    width: 100%;
}
.feature-content h2{
    border-left: 5px solid #FF900E;
    padding-left: 15px;
    font-size: 30px;
}
.feature-content > p{
    font-size: 15px;
    margin: 10px 0px;
    color: #727272;
}
.feature-box{
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    margin: 15px 0;
}
.feature-box p{
    font-size: 15px;
    color: #727272;
    margin-top: 8px;
}
.btn-2{
    text-align: center;
    margin-top: -50px;
    margin-left: -30px;
}
.extra-large{
    font-size: 30px;
    display: block;
    font-weight: 700;
    
}
/* ==========fact-area============ */
.fact-area{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}
.fact-box{
    text-align: center;
    margin: 30px 0;
    border: 1px solid #FF900E;
    padding: 15px;
    border-radius: 5px;
    transition: .5s;
}
.fact-box:hover{
    transform: rotate(360deg);
}
.fact-box h5{
    font-size: 25px;
    margin: 8px 0;
    color: #0a0a0a;
}
.fact-box p{
    font-size: 15px;
    color: #727272;
}
/* ========blog-area============ */
.title{
    font-size: 30px;
    margin: 10px 0;
}

.blog-area{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.blog-item {
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    padding: 10px;
    border-radius: 5px;
}
.blog-item img{
    width: 100%;
}
.blog-item h3{
    margin: 10px 0;
}
/* ===============sponsor-area========== */
.section-title{
    width: 60%;
    margin: 20px auto;
    text-align: center;
}
.section-title h2{
    font-size: 30px;
}
.section-title p{
    font-size: 15px;
    color: #727272;
    margin: 10px 0;
}
.sponsor-section{
    display: flex;
    justify-content: space-between;
}
.sponsor-section img{
    width: 9%;
    margin: 10px 0;
}
/* =========footer========== */
.footer{
    background-color: #FFF4E7;
    padding: 15px 30px;
    text-align: center;
    color: #727272;
    margin: 20px auto;
    border-radius: 5px;
}
.footer p{
    font-size: 14px;
}

/* =============Mobile-Responsive========= */
@media screen and (max-width:576px){
    .common-section{
        width: 100%;
    }
    nav{
        flex-direction: column;
    }
    .menu-item ul li{
        margin: 10px;
    }
    .hero-section{
        width: 100%;
        margin: 10px auto;
    }
    .hero-section h1{
        font-size: 30px;  
    }
    .img-section{
        grid-template-columns: repeat(1,1fr);
    }
    .gallery-area{
        flex-direction: column;
    }
    .contant-section h2{
        font-size: 30px;
     }
    .btn-2{
        display: none;
    }
    .fact-area, .blog-area,.feature-area,.sponsor-section{
        flex-direction: column;
        padding: 5px;
    }
    .section-title{
        width: 100%;
        
    }
    .sponsor-section img{
        width: 50%;
        margin: 15px auto;  
    }
}